@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700;800&family=Poppins:ital,wght@1,300&display=swap');

*, *:before, *:after{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(40deg, blanchedalmond, white) ;
}

h1{
    font-size: 35px;
    padding: 40px;
    border: 15px solid salmon;
    margin: 80px 40px 80px 40px;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
    &:hover{
        transition: ease-in-out 0.3s;
        color: salmon;
        font-size: 20px;
        border: 10px dashed black;
        letter-spacing: 6px;
    }
}

a{
    text-decoration: none;
    color:black;
}

footer{
    background-color: lightgreen;
}

