@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700;800&family=Poppins:ital,wght@1,300&display=swap');

*, *:before, *:after{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(40deg, blanchedalmond, white) ;
}

h1{
    font-size: 4em;
    color: black;
    padding: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color:black;
}

footer{
    background-color: #84b6f4;
}

